<table id="example" width="100%" class="display nowrap table table-striped table-bordered table-hover" style="font-size:11px">
    <thead>
        <tr>
            <th>Acción</th>
            <th>Nro Acta</th>
            <th>Fecha Infracción</th>
            <th>DNI</th>
            <th>Estado Vehiculo</th>
            <th>Tipo Vehiculo</th>
            <th>Dominio</th>
            <th>Nro Motor</th>
            <th>Nro Chasis</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Color</th>
            <th>Agente</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr class="odd gradeX" id="@item.Id">
                <td>


                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-gear"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" onclick="Prueba();">Ver/Editar</a>
                            </li>
                            <li>
                                <a href="liberaciones.html">Liberar</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#" onclick="Delete(@item.Id);">Eliminar</a>
                            </li>
                        </ul>
                    </div>

                </td>

                <td>@item.NroActa</td>
                <td class="center">@item.FechaInfraccion</td>
                <td class="center">@item.DNI</td>
                <td class="center">@item.EstadoVehiculo</td>
                <td class="center">@item.VehicleType.Descripcion</td>
                <td class="center">@item.Dominio</td>
                <td class="center">@item.NroMotor</td>
                <td class="center">@item.NroChasis</td>
                <td class="center">@item.VehicleBrand.Descripcion</td>
                <td class="center">@item.VehicleModel.Descripcion</td>
                <td class="center">@item.Color</td>
                <td class="center">@item.TipoAgente</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th>Nro Acta</th>
            <th>Fecha Infracción</th>
            <th>DNI</th>
            <th>Estado Vehiculo</th>
            <th>Tipo Vehiculo</th>
            <th>Dominio</th>
            <th>Nro Motor</th>
            <th>Nro Chasis</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Color</th>
            <th>Agente</th>
        </tr>
    </tfoot>
</table>
