@model IEnumerable<GuardiaComunal.Models.Act>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-sm {
        font-size: 12px;
        height: 30px;
        margin-bottom: 3px;
    }

    .ck-sm {
        font-size: 12px;
    }

    .select2 {
        font-size: 12px;
    }

    label {
        font-size: 12px;
    }


    .panel-body {
        padding: 10px;
    }

    .panel-heading {
        padding: 8px;
    }

    .form-group {
        margin-bottom: 8px;
    }

    .panel {
        margin-bottom:10px;
    }

    .sol-container {
        padding:0px;
    }


s
</style>

<div id="page-wrapper">
    <div class="row">
        <h1 class="page-header" style="margin: 10px;">Actas</h1>

        <form role="form" class="form-horizontal">
            <div class="col-lg-12">
                <!-- /.Panel de Datos de Alta -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Datos de Acta
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label>Tipo de Acta</label>
                                <select class="form-control input-sm" name="ddltipoActa" id="ddl-tipoActa">
                                    <option>Oficio</option>
                                    <option>Documentada</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <label>Nro. Acta</label>
                                <input id="input-NroActa" name="inputNroActa" placeholder="Nro. Acta" class="form-control input-sm" autocomplete="off">
                            </div>
                            <div class="col-sm-3">
                                <label>Fecha/Hora de Infracción</label>
                                @*<div class='input-group date' id='dt-Infraccion' name="dtInfraccion">
                                    <input type='text' class="form-control input-sm" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>*@
                                <input type='text' class="form-control input-sm" name="dtInfraccion" id='dt-Infraccion' />
                            </div>
                            <div class="col-sm-2">
                                <label>Tanda</label>
                                <input id="input-Tanda" name="inputTanda" placeholder="Tanda" class="form-control input-sm" autocomplete="off">
                            </div>
                        </div>
                        <!-- /.Calle y Altura -->
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>Barrio</label>
                                @*@Html.DropDownList("ddlBarrio", new SelectList(ViewBag.listaBarrios, "Codigo", "Nombre"), new { @class = "form-control input-sm" })*@
                                <input type="text" name="ddlBarrio" id="ddlBarrio" class="form-control input-sm"/>
                            </div>
                            <div class="col-sm-3">
                                <label>Calle</label>
                                <input id="input-Calle" name="inputCalle" placeholder="Calle" class="form-control input-sm">
                            </div>
                            <div class="col-sm-2">
                                <label>Altura</label>
                                <input id="input-Altura" name="inputAltura" placeholder="Altura" class="form-control input-sm" autocomplete="off">
                            </div>
                            <div class="col-sm-3">
                                <label>Entre Calle</label>
                                <input id="input-EntreCalle" name="inputEntreCalle" placeholder="Entre Calle" class="form-control input-sm">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>Fecha de Envío al Juzgado</label>
                                @*<input class="form-control input-sm" type="datetime-local" value="2011-08-19T13:45:00" id="dt-EnvioJuzgado" name="dtEnvioJuzgado">*@
                                <input type='text' class="form-control input-sm"  id="dt-EnvioJuzgado" name="dtEnvioJuzgado" />
                            </div>
                            <div class="col-sm-4">
                                <label>Acta Adjunta</label>
                                <div class="input-group input-file" name="Fichier1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-choose btn-sm" type="button">Elegir</button>
                                    </span>
                                    <input id="input-ArchivoActa" name="inputArchivoActa" type="text" class="form-control input-sm" placeholder='Selecciona Acta...' />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-reset btn-sm" type="button">Borrar</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>Fecha/Hora de Carga</label>
                                @*<input class="form-control input-sm" type="datetime-local" value="2018-05-19T13:45:00" id="dt-Carga" name="dtCarga" disabled>*@
                                <input type='text' class="form-control input-sm" id="dt-Carga" name="dtCarga" disabled/>
                            </div>
                            <div class="col-sm-2">
                                <label>Usuario de Carga</label>
                                <input class="form-control input-sm" id="input-Usuario" name="inputUsuario" placeholder="Usuario de Carga" type="text" disabled>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /. FIN Panel de Datos de Alta -->
                <!-- /. Panel de Datos del Infractor -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Datos del Infractor
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>Apellido</label>
                                <input id="input-Apellido" name="inputApellido" placeholder="Apellido" class="form-control input-sm" autocomplete="off">
                            </div>
                            <div class="col-sm-3">
                                <label>Nombre</label>
                                <input id="input-Nombre" name="inputNombre" placeholder="Nombre" class="form-control input-sm" autocomplete="off">
                            </div>
                            <div class="col-sm-3">
                                <label>DNI</label>
                                <input id="input-DNI" name="inputDNI" placeholder="DNI" class="form-control input-sm" autocomplete="off">
                            </div>
                            <div class="col-sm-3">
                                <label>Nro Licencia</label>
                                <input id="input-Licencia" name="inputLicencia" placeholder="Licencia" class="form-control input-sm" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /. FIN Panel de Datos del Infractor -->
                <!-- /. Panel de Datos de Detalle del Vehiculo -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Detalle del Vehiculo
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label>Tipo de Vehiculo</label>
                                @*@Html.DropDownList("ddlTipoVehiculo", new SelectList(ViewBag.listaTipos, "Id", "Descripcion"), new { @class = "form-control input-sm" })*@
                                <select id="ddlTipoVehiculo" class="form-control input-sm"></select>
                            </div>
                            <div class="col-sm-2">
                                <label>Tipo de Dominio</label>
                                @*@Html.DropDownList("ddlTipoDominio", new SelectList(ViewBag.listaDominios, "Id", "Descripcion"), new { @class = "form-control input-sm" })*@
                                <select id="ddlTipoDominio" class="form-control  input-sm"></select>
                            </div>
                            <div class="col-sm-2">
                                <label>Dominio</label>
                                <input id="input-Dominio" name="inputDominio" placeholder="Dominio" class="form-control input-sm" autocomplete="off">
                            </div>
                            <div class="col-sm-2">
                                <label>Marca</label>
                                @*@Html.DropDownList("ddlMarca", new SelectList(ViewBag.listaMarcas, "Id", "Descripcion"), new { @class = "form-control input-sm" })*@
                                <select id="ddlMarca" class="form-control input-sm"></select>
                            </div>

                            <div class="col-sm-2">
                                <label>Modelo</label>
                                @*@Html.DropDownList("ddlModelo", new SelectList(ViewBag.listaModelos, "Id", "Descripcion"), new { @class = "form-control input-sm" })*@
                                <select id="ddlModelo" class="form-control input-sm"></select>
                            </div>
                            <div class="col-sm-2">
                                <label>Color</label>
                                <input id="input-Color" name="inputColor" placeholder="Color" class="form-control input-sm" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-sm-3">
                                <label>Nro Motor</label>
                                <input id="input-NroMotor" name="inputNroMotor" placeholder="Nro Motor" class="form-control input-sm" autocomplete="off">
                            </div>
                            <div class="col-sm-3">
                                <label>Nro Chasis</label>
                                <input id="input-NroChasis" name="inputNroChasis" placeholder="Nro Chasis" class="form-control input-sm" autocomplete="off">
                            </div>
                            <div class="col-sm-3">
                                <label>Estado del vehiculo</label>
                                <select class="form-control input-sm" id="ddlEstadoVehiculo" disabled>
                                    <option>No Retenido</option>
                                    <option>Retenido</option>
                                    <option>Liberado</option>
                                    <option>Compactado</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label>Fecha de Estado</label>
                                @*<input class="form-control input-sm" type="datetime-local" value="2018-05-19T13:45:00" id="dt-EstadoVehiculo" name="dtEstadoVehiculo" disabled>*@
                                <input type='text' class="form-control input-sm" id="dt-EstadoVehiculo" name="dtEstadoVehiculo" disabled />
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /. FIN Panel de Detalle del Vehiculo -->
                <!-- /. Panel de Detalle del Acta -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Detalle del Acta
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label>Tipo Agente</label>
                                <select class="form-control input-sm" id="ddlTipoAgente">
                                    <option>Inspector</option>
                                    <option>Policia</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label>Agente</label>
                                @Html.DropDownList("ddlAgente", new SelectList(ViewBag.listaPolicias, "Id", "Apellido"), new { @class = "form-control input-sm  " })
                            </div>

                            <div class="col-sm-7" style="margin-top: 20px;"                                 >
                                <label class="checkbox-inline">
                                    <input id="ck-VehiculoRetenido" name="ckVehiculoRetenido" type="checkbox">Vehiculo Retenido
                                </label>
                                <label class="checkbox-inline">
                                    <input id="ck-LicenciaRetenida" name="ckLicenciaRetenida" type="checkbox">Licencia Retenida
                                </label>
                                <label class="checkbox-inline">
                                    <input id="ck-TicketAlcoholemia" name="ckTicketAlcoholemia" type="checkbox">Ticket Alcoholemia
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>Resultado Alcoholemia</label>
                                <input id="input-ResultadoAlcoholemia" name="inputResultadoAlcoholemia" class="form-control input-sm" placeholder="Resultado del Ticket de Alcoholemia" type="text">
                            </div>
                            <div class="col-sm-4">
                                <label>Ticket de Alcoholemia Adjunto</label>
                                <div class="input-group input-file" name="Fichier1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-choose btn-sm" type="button">Elegir</button>
                                    </span>
                                    <input id="input-TicketAlcoholemia" name="inputTicketAlcoholemia" type="text" class="form-control input-sm" placeholder='Selecciona el Ticket...' />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-reset btn-sm" type="button">Borrar</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label>Informe</label>
                                <input class="form-control input-sm" id="input-Informe" name="inputInforme"  placeholder="Informe del Inspector" type="text">
                            </div>
                            <div class="col-sm-4">
                                <label for="exampleFormControlSelect1">Informe Adjunto</label>
                                <div class="input-group input-file" name="Fichier1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-choose btn-sm" type="button">Elegir</button>
                                    </span>
                                    <input id="input-InformeInspector" name="inputInformeInspector" type="text" class="form-control input-sm" placeholder='Selecciona informe...' />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-reset btn-sm" type="button">Borrar</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label>Contravenciones</label>
                                @Html.DropDownList("ddlContravenciones", new SelectList(ViewBag.listaContravenciones, "Id", "Descripcion"), new { multiple = "multiple", @class = "input-sm" })
                                @*<select id="my-select" name="ddlContravenciones" multiple="multiple">
                                        <option value="1">Semaforo en rojo</option>
                                        <option value="2">Sin licencia</option>
                                        <option value="3">Sin Patente</option>
                                        <option value="4">Sin Registro</option>
                                        <option value="5">Maneja Alcoholizado</option>
                                    </select>*@
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8">
                                <label>Observaciones</label>
                                @Html.DropDownList("ddlObservaciones", new SelectList(ViewBag.listaObservaciones, "Id", "Descripcion"), new { multiple = "multiple", @class = "input-sm" })
                                @*<select id="my-select2" name="character" multiple="multiple">
                                        <option value="1">Licencia Retenida</option>
                                        <option value="2">Planilla VTV</option>
                                        <option value="3">Denuncia Policial</option>
                                        <option value="4">Recibo Seguro</option>
                                        <option value="5">Con Informe</option>
                                    </select>*@
                            </div>
                            <div class="col-sm-4">
                                <label>Detalle</label>
                                <input class="form-control input-sm" id="input-Detalle" name="inputDetalle" placeholder="Detalle" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /. https://pbauerochse.github.io/searchable-option-list/examples.html#basic-usage -->
                <button type="button" class="btn btn-primary">Guardar</button>

            </div>
            <!-- /.col-lg-12 -->
        </form>
        <!-- /.form -->
    </div>
    <!-- /.ro -->
</div>
<!-- /#page-wrapper -->
<!-- /#wrapper -->
@section scripts {

<script>

    //Cargo las calles y barrios
    var varListaBarrios = @Html.Raw(Json.Encode(ViewBag.listaBarrios));
    var barriosJson = $.parseJSON(varListaBarrios.Data);

    var varListaCalles = @Html.Raw(Json.Encode(ViewBag.listaCalles));
    var callesJson = $.parseJSON(varListaCalles.Data);

    var varListaTipos = @Html.Raw(Json.Encode(ViewBag.listaTipos));
    var TiposJson = $.parseJSON(varListaTipos.Data);

    var varListaDominios = @Html.Raw(Json.Encode(ViewBag.listaDominios));
    var DominiosJson = $.parseJSON(varListaDominios.Data);

    $('#ddlBarrio').autocomplete({
        lookup: barriosJson
    });

    $('#input-Calle').autocomplete({
        lookup: callesJson
    });


    $('#ddlTipoVehiculo').select2({
        data: TiposJson
    });

    $('#ddlTipoDominio').select2({
        data: DominiosJson
    });

    $('#ddlTipoVehiculo').on('select2:select', function (e) {
        var dato = e.params.data;
                    $.ajax({
                    url: '@Url.Action("GetMarcas", "Acts")',
                    type: 'POST',
                    data: JSON.stringify({
                        "id": dato.id
                    }),
                    contentType: 'application/json; charset=utf-8;',
                // success is called when dataset returns
                    success: function (p) {
                        var marcasJson = $.parseJSON(p);
                    $('#ddlTipoVehiculo').select2({
                        data: p
                    });
                }
            });
    });



    // Fechas
            $(function () {
                $('#dt-Infraccion').datetimepicker({
                    locale: 'es',
                    date: new Date(Date.now())
                });
                $('#dt-EnvioJuzgado').datetimepicker({
                    locale: 'es',
                    date: new Date(Date.now())
                });
                $('#dt-Carga').datetimepicker({
                    locale: 'es',
                    date: new Date(Date.now())
                });
                $('#dt-EstadoVehiculo').datetimepicker({
                    locale: 'es',
                    date: new Date(Date.now())
                });
            });



        $(function () {
            $('.dropdown-menu a').click(function () {
                console.log($(this).attr('data-value'));
                $(this).closest('.dropdown').find('input.countrycode')
                    .val('(' + $(this).attr('data-value') + ')');
            });
        });

        function bs_input_file() {
            $(".input-file").before(
                function () {
                    if (!$(this).prev().hasClass('input-ghost')) {
                        var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
                        element.attr("name", $(this).attr("name"));
                        element.change(function () {
                            element.next(element).find('input').val((element.val()).split('\\').pop());
                        });
                        $(this).find("button.btn-choose").click(function () {
                            element.click();
                        });
                        $(this).find("button.btn-reset").click(function () {
                            element.val(null);
                            $(this).parents(".input-file").find('input').val('');
                        });
                        $(this).find('input').css("cursor", "pointer");
                        $(this).find('input').mousedown(function () {
                            $(this).parents('.input-file').prev().click();
                            return false;
                        });
                        return element;
                    }
                }
            );
        }
        $(function () {
            bs_input_file();
        });


        $(function () {
            // initialize sol
            $('#ddlContravenciones').searchableOptionList();
            $('#ddlObservaciones').searchableOptionList();
        });

</script>
}
