@model GuardiaComunal.Models.Nighborhood

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Nighborhood</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Partida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Barrio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Barrio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreCorto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCorto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habitantes2010)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habitantes2010)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProyecionHabitantes2016)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProyecionHabitantes2016)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProyecionHabitantes2020)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProyecionHabitantes2020)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perimetro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perimetro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
